{% extends "base.html" %}
{% block content %}




<div class="box " style="margin-top: 20%">
    <div class="container d-flex justify-content-center text-light  border border-white Border-3 rounded " style="height: 400px" >
        <form class="lg-col-12 md-col-6 sm-col-4 d-flex flex-column w-100 mt-4  " method='POST'> 
            <h2 class="d-flex justify-content-center mb-4">Cadastro</h2>
            {% csrf_token %}
            {{ form }}
            <button type='submit' class='btn btn-warning mt-3 mb-4 w-100'>Registrar</button>
        </form>
    </div>
</div>
{% endblock %}