{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <title>Empire Store</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@500&display=swap" rel="stylesheet" /> 
{% block "head" %}
{% endblock %}
</head>

<body>
    <header>
        <div class="PositionHeader">
            <div class="local1">

                <div>
                    <a href="{% url 'index' %} "> <img src="{% static 'image/empire.png' %}"> </a>
                </div>

                <div>
                    <div>Departamentos</div>
                </div>
            </div>

            <div class="pesquisa">
                
            </div>
            <div class="cabecalho"><ul>
                    <li href="{% url 'pedidos' %}">PEDIDOS</li>
                    <li href="{% url 'suporte' %}">SUPORTE</li>
                    <li><a href="{% url 'entrar' %}">ENTRAR</a> / <a href="{% url 'cadastro' %}">CADATRO</a></li>
                </ul>
                <input class="pesquisa" type="text" placeholder="Pesquise seu produto">
            </div>
        </div>
    </header>
{% block "body" %}
{% endblock %}
</body>
</html>