
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Empire Store</title>
    <link rel="stylesheet" href="./../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">


</head>
<body>
    <header>
        <div class="mainHeader">
            <div class="textHeader">
                <!-- <div>Departamento</div> -->
                <div>Suporte</div>
                <div>Pedidos</div>
                <div>Minha Conta
                    <div>
                    Entrar / Cadastro</div>
                </div>
            </div>
        </div>
    </header>
   

        <div class="pai_empire">
       <div class="position"><h1 class="titulo_pag_principal">Empire Store</h1></div>
    </div>
 


</body>
</html>