{% extends "base.html" %}


{% load static %}
{% url 'products:list' as products_list_url %}

<title>Home Page Template</title>

{% block base_head %}
    <link rel='stylesheet' href="{% static 'css/main.css' %}">
{% endblock %}
    
{% block content %}


<body class="text-warning">
	
</body>
    <div class='text-center'>
         <h1>{{ title }}</h1>
             <p>{{ content }}</p>
    </div>
    
	<div id="carouselExampleControls" class="carousel slide border border-warning" data-bs-ride="carousel">
		<div class="carousel-inner">
		  <div class="carousel-item active">
			<a href="{{ products_list_url }}"> <img src="{% static 'imagem/home/baner2.png" alt="HomePageBanner"></a>
				
			
		  </div>
		  
		

	
		
    
		  

{% endblock %}