body {
    background: url('../image/fundo.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav-link {
    color: rgb(255, 234, 0) !important;
}

.navbar {
    background-color: rgb(17, 17, 17) !important;
}

.navbar-brand {
    color: rgb(255, 234, 0) !important;
}
.navbar-toggler {
    color: rgb(255, 234, 0) !important;
}

.navbar-toggler-icon {
    color: rgb(255, 234, 0) !important;
}