@font-face {
    font-family: Jedi;
    src: url(../fontes/Starjedi.ttf);
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-image: url(../image/fundo.jpg);
    color: #ffe600;
    font-family: "Aldrich";
}

.mainDiv {
    display: flex;
    justify-content: center;
}

.titulo_pag_principal {
    font-family: "Jedi";
    color: black;
    /* text-shadow: -1px 0px 15px #FFE600; */
    text-shadow: rgb(255, 230, 0) 1px -1px, rgb(255, 230, 0) -1px 1px, #ffe600 1px 1px, #ffe600 -1px -1px;
    font-size: 90px;
}

.position {
    max-width: 200px;
}

header {
    /* width: 100%; */
    height: 125px;
    background: #000000;
    border-bottom: 1px solid #ffe600;
}

.mainHeader {
    display: flex;
    justify-items: flex-start;
    
}

.textHeader {
    display: flex;
    gap: 150px;
    border: none;
    text-decoration: none;
    
}

a{
    text-decoration: none;
    border: none;
    outline: none;
    color: inherit;
}

.PositionHeader {
    display: flex;
    /* justify-content: flex-end; */
}
.pesquisa {

}